@import url(http://fonts.googleapis.com/css?family=Signika:600|Varela+Round);

/*Reset*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font: normal 18px/22px "Varela Round", sans-serif;
    background-color: #e9ffff;
    color: #2e2e2e;
}

h1, h2 {
    font-family: "Signika", sans-serif;
    font-weight: 600;
}

h1, .hashtag {
    font-size: 36px;
    line-height: 46px;
    color: #e0e0e0;
}

h2 {
    font-size: 24px;
    line-height: 33px;
    margin-bottom: -20px;
}

/*nav bar*/
.nav-bar {
    box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.6);
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    height: 50px;
    /*padding: 20px;*/
    background-color: #333;
}

.nav-bar li, .nav-bar a {
    height: 50px;
    line-height: 50px;
}

.menu {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
}

.menu a, .menu a:visited {
    color: #ffffff;
}

.menu li a:hover, .menu a:target {

    color: #e25714;
}

.nav-menu {
    display: inline-block;
}

.sitename {
    display: inline-block;
    margin-right: 0px;
    margin-left: 0px;
}

a.sitename, a:visited.sitename {
    color: #e0e0e0;
}

.nav-menu li {
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

.nav-menu a {
    text-decoration: none;
}

.show, .hide {
    display: none;
    padding-left: 15px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center left;
    color: #dde1e2;
}

/*nav bar end*/

/*Content space after the nav bar*/
.image-content, .image-content2 {
    margin-top: 50px;
    height: 30%;
}

/*end*/

/*sections, hashtag classes and image captions*/
.content h1 {
    color: #384e56;
    margin-top: 60px;
    text-transform: uppercase;
}

.image-caption {
    color: #d9dee2;
    margin-top: 50px;
    margin-bottom: 60px;
}

.site-about {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
    color: #747474;
}

.site-about h1 {
    text-align: center;
    color: #384e56;
    margin-top: 60px;
}

.image-content {
    position: relative;
    background-size: cover;
}

.image-content2 {
    position: relative;
    background: url(images/recipebackground.jpg) no-repeat center center fixed;
    background-size: cover;
}

.site-hashtag, .content {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
}

.site-hashtag {
    padding-top: 100px;
    min-height: 340px;
    text-align: center;
}

.content {
    color: #747474;
}

/*end*/

/*button properties*/
.button, .button:visited, .button-dark {
    display: inline-block;
    width: 150px;
    max-width: 200px;
    margin: 50px 10px 30px 10px;
    padding: 10px;
    font-family: "Signika", sans-serif;
    /*background-color: rgba(50, 50, 50, 0.2);*/
    color: #ffffff;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 20px;
    text-transform: capitalize;
    text-align: center;
    transition: all 0.1s ease;
}

.button-dark, .button-dark:visited {
    margin: 20px 10px 30px 0;
    color: #ffffff;
    border-color: #ffffff;

}

.button:hover, .button-dark:hover {
    transition: all 0.3s ease;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.button-dark:hover {
    background-color: #e25714;

}

/*end*/

/*about us section*/
.about-us {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
    color: white;
    line-height: 1.5em;
    font-weight: bold;
    padding: 20px;
}

/*end*/

/*flex container*/
.container {
    margin: 0 auto;
    max-width: 1125px;
    padding: 0 1rem;
}

.container h2 {
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
}

.grid {
    margin-top: 40px;

}

.cell img {
    height: auto;
    width: auto;
    display: block;
}

.cell {
    margin: 1rem;
}

/*end*/

/*modal properties*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 10%;
    height: 90%; /* Full height */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

}

.modal-body h3 {
    padding-top: 20px;
}

/*recipe method list*/
.method li {
    margin: 20px 0;
}

/* Modal Content */
.modal-content {
    width: 80%; /* Full width */
    height: 100%; /* Full height */
    overflow-y: scroll;
    border-radius: 10px;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s

}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    border-radius: 10px 10px 0 0;
    padding: 20px 16px;
    background-color: rgba(51, 51, 51, 0.9);
    color: white;

}

.modal-body, ol {
    padding: 10px 16px;

}

th, td {
    border: none;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-top: 20px;
    border: 1px solid #ddd;

}

/*end*/

/*hover over recipe image*/

/*recipe categories*/
.recipe-cat {
    padding: 10px;
    color: white;
    background-color: rgba(51, 51, 51, 0.9);
    border-radius: 20px;
}

/*end*/

.hover-overlay {
    position: relative;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

.hover-overlay img {
    max-width: 100%;

}

.hover-overlay .hover-overlay-bottom {
    display: block;
}

.hover-overlay .hover-overlay-top {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.hover-overlay:hover .hover-overlay-top,
.hover-overlay.active .hover-overlay-top {
    opacity: 1;
}

.hover-overlay .hover-overlay-text {
    text-align: center;
    font-size: 18px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.hover-overlay .hover-overlay-rotate {
    border-radius: 50%;
    -moz-transform: rotateZ(0);
    -webkit-transform: rotateZ(0);
    -ms-transform: rotateZ(0);
    transform: rotateZ(0);
}

.hover-overlay:hover .hover-overlay-rotate,
.hover-overlay.active .hover-overlay-rotate {
    border-radius: 0%;
    -moz-transform: rotateZ(360deg);
    -webkit-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
}

/*end*/

/*recipe colour coded categories*/
.recipe-cat-veg {
    background-color: forestgreen;
    color: white;
    padding: 15px;

}

.recipe-cat-fish {
    background-color: #eec3b0;
    color: white;
    padding: 15px;

}

.recipe-cat-meat {
    background-color: #333;
    color: white;
    padding: 15px;

}

.recipe-cat-veg-overlay {
    background-color: forestgreen;
    border-radius: 10px;
    color: white;
    padding: 15px;

}

.recipe-cat-fish-overlay {
    background-color: #eec3b0;
    border-radius: 10px;
    color: white;
    padding: 15px;

}

.recipe-cat-meat-overlay {
    background-color: #333;
    border-radius: 10px;
    color: white;
    padding: 15px;

}

/*end*/

/*nutrition information*/
.nutrition {
    margin: 5px auto 0;
    width: 100%;
    letter-spacing: -3px;
}

.nutrition-label {
    line-height: 18px;
    font-style: normal;
    font-size: 11px;
    background: #eec3b0;
    border-radius: 10px 10px 0 0;
    color: #333;
    position: relative;
    display: block;
    padding: 3px 0;
}

.nutrition-value {
    line-height: 18px;
    color: #767676;
    font-style: normal;
    display: block;
    background: #fff;
    font-size: 11px;
    border-radius: 0 0 10px 10px;
    padding: 2px 0 1px;
}

.nutrition > li {
    letter-spacing: 0;
    display: inline-block;
    text-align: center;
    margin: 0 5px 8px 0;
    min-width: 67px;
}

/*end*/



/*contact form*/
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    resize: vertical;
}

.contact-us {
    color: #384e56;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #333;
}

.container-contact {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;

}

.contact {
    padding-top: 10px;
}

.container-contact textarea {
    height: 135px;

}

/*end*/

/*google maps*/
#map {
    height: 443px;
    width: 100%;
}

/*end*/

/*social media icons in footer*/
.footer-social-icons {
    text-align: center;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 2rem;
    color: white;
    background-color: #333;
}

.footer ul {
    padding: 0;
    list-style: none;
}

.social-icon {
    color: #fff;
}

ul.social-icons {
    margin-top: 10px;
}

.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
}

.fa-facebook, #access {
    padding: 10px 14px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-facebook:hover, #access:hover {
    background-color: #3d5b99;
}

.fa-twitter {
    padding: 10px 12px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-twitter:hover {
    background-color: #00aced;
}

.fa-rss {
    padding: 10px 14px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-rss:hover {
    background-color: #eb8231;
}

.fa-youtube {
    padding: 10px 14px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-youtube:hover {
    background-color: #e64a41;
}

.fa-linkedin {
    padding: 10px 14px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-linkedin:hover {
    background-color: #0073a4;
}

.fa-google-plus {
    padding: 10px 9px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-google-plus:hover {
    background-color: #e25714;
}

/*end*/

/* gallery slider*/

.slider-holder {
    max-width: 800px;
    max-height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    text-align: center;
    overflow: hidden;
    border: 5px solid;
    border-color: darkgoldenrod;;
}

.image-holder {
    width: 2400px;
    /*height: 400px;*/
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}

.slider-image {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
}

#slider-image-1:target ~ .image-holder {
    left: 0px;
}

#slider-image-2:target ~ .image-holder {
    left: -800px;
}

#slider-image-3:target ~ .image-holder {
    left: -1600px;
}

.button-holder {
    position: relative;
    top: -40px;
}

.slider-change {
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    background-color: darkgoldenrod;
}

/*end*/

/*media queries*/

@media only screen and (max-width: 800px) {
    .menu {
        position: relative;
        width: 100%;
    }

    .sitelogo {
        position: absolute;
        top: 0;
        left: 10px;
        margin-left: 0px;
    }

    .nav-menu {
        display: none;
        width: 100%;
        margin-top: 50px;
        background-color: rgba(51, 51, 51, 0.9);
    }

    .nav-menu li {
        display: block;
        text-align: center;
    }

    .show, .hide {
        position: absolute;
        top: 0;
        right: 15px;
    }

    .show {
        display: inline-block;
    }

    .hide {
        display: none;
    }

    #menu:target .show {
        display: none;
    }

    #menu:target .hide, #menu:target .nav-menu {
        display: inline-block;
    }

    .image-content {
        background-size: cover;
        background-position: center left;
        margin-top: 10px

    }

    .site-hashtag {
        padding-top: 250px;
        min-height: 100px;
        text-align: center;
    }

}

@media only screen and (max-width: 220px) {
    .sitelogo, .show, .hide {
        font-size: 14px;
    }

    .grid {
        margin-top: 20px;
    }

}

@media screen and (min-width: 600px) {
    .grid {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .cell {
        width: 50%;
    }
}

@media screen and (min-width: 1000px) {
    .cell {
        width: calc(100% / 3);
    }
}

@media screen and (min-width: 600px) {
    .cell {
        width: calc(50% - 2rem);
    }
}

@media screen and (min-width: 1000px) {
    .cell {
        width: calc(33.3333% - 2rem);
    }
}

/*end*/



