
@import url(http://fonts.googleapis.com/css?family=Signika:600|Varela+Round);

/*Reset*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font: normal 18px/22px "Varela Round", sans-serif;
  background-color: #e9ffff;
  color: #2e2e2e;
}
h1, h2 {
  font-family: "Signika", sans-serif;
  font-weight: 600;
}
h1 {
  font-size: 36px;
  line-height: 46px;
  color: #e0e0e0;
}
h2 {
  font-size: 24px;
  line-height: 33px;
  margin-bottom: -20px;
}
p {
  margin: 20px 0;
}
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

.nav-bar {
  box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.6);
}

.image-content {
  position: relative;
  background: url(images/blackandwhite.jpg) no-repeat center center fixed;
  background-size: cover;
 }
.site-hashtag, .content  {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}
.site-hashtag {
  padding-top: 100px;
  min-height: 340px;
  text-align:center;
}
.content {
  color: #747474;
}
.content  h1 {
  color: #384e56;
  margin-top: 60px;
  text-transform: uppercase;
}
/*.content  h2 a:link, .content  h2 a:visited  {
  color: #464646;
  transition: color 0.1s ease;
}
.content  h2 a:hover {
  color: #000000;
  transition: color 0.3s ease;
}*/
/* SPECIAL */
.image-caption {
  color: #d9dee2;
  margin-top: 50px;
  margin-bottom: 60px;
}
.button, .button:visited, .button-dark {
  display: inline-block;
  max-width: 200px;
  margin: 50px 10px 30px 10px;
  padding: 10px;
  font-family: "Signika", sans-serif;
  /*background-color: rgba(50, 50, 50, 0.2);*/
  
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 3px;
  text-transform: capitalize;
  text-align: center;
  transition: all 0.1s ease;
}
.button-dark, .button-dark:visited {
  margin: 20px 10px 30px 0;
  color:#ffffff;
  border-color: #ffffff;

}
.button:hover, .button-dark:hover {
  transition: all 0.3s ease;
}
.button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.button-dark:hover {
  color: #ffffff;
  background-color: rgba(70, 70, 70, 0.9);
}



.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  /*padding: 20px;*/
  background-color: #333;
}

 /*Content space after the nav bar*/
.image-content {
  margin-top: 50px;
  height: 100%;
}

/* Navigation bar */
.nav-bar li, .nav-bar a { 
  height: 50px;
  line-height: 50px;
}
.menu {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}
.menu a, .menu a:visited {
  color: #ffffff;
}
.menu li a:hover, .menu a:target {
  color: skyblue;
}


.nav-menu {
  display: inline-block;
}
.sitename {
  display: inline-block;
  margin-right: 0px;
  margin-left: 0px;
}
a.sitename, a:visited.sitename {
  color: #e0e0e0;
}
.nav-menu li {
  display: inline-block;
  margin-right: 15px;
  margin-left: 15px;
}

.nav-menu a {
  text-decoration: none;
}


.show, .hide {
  display: none;
  padding-left: 15px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center left;
  color: #dde1e2;
}


@media only screen and (max-width: 800px) {
  .menu { 
    position: relative;
    width: 100%;
  }
  .sitelogo {
    position: absolute;
    top: 0;
    left: 15px;
    margin-left: 0px;
  }
  .nav-menu {
    display: none; 
    width: 100%;
    margin-top: 50px;
    background-color: rgba(51, 51, 51, 0.9);
  }
  .nav-menu li {
    display: block;
    text-align: center;
  }
  .show, .hide {  
    position: absolute;
    top: 0;
    right: 15px;
  }
  .show {
    display: inline-block;
  }
  .hide {
    display: none;
  }
  #menu:target .show {
    display: none;
  }
  #menu:target .hide, #menu:target .nav-menu {
    display: inline-block;
  }

  .image-content {
   background: url(images/blackandwhitemobile.jpg) no-repeat center left;
   background-size: cover;
   background-position: center left;
   margin-top: 10px
   
  }

  .site-hashtag {
  padding-top: 250px;
  min-height: 100px;
  text-align:center;  
}

.image-caption {
  
}


}

@media only screen and (max-width: 220px) {
  .sitelogo, .show, .hide {
    font-size: 14px;
  }

 

}


  